<div class="main top-main">
  <div class="top-message">
    <%= image_tag "sumtactlogo_top.png" %>
    <div class="top-text">
      <p>あなたという指揮者が作品を披露する</p>
      <p>ここは指揮者と観客が集まり音を楽しむ場所</p>
    </div>
  </div>
</div>
